.wrapper {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.job, .language, .hobby {
  float: left;
  flex-direction: wrap;
  flex-grow: 1;
  width: 33%;
  height: 50%;
}

.cv_pic {
  border-radius: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 200px;
}

textarea {
  resize: none;
}
